@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1.75em;
    margin-bottom: .5em;
}

.list {
    margin: 1em 1em;
    padding: 0;
    width: 93%;
}

.items {
    box-sizing: border-box;
    border: 2px solid black;
    background: gray;
    margin: 1em;
    padding: 0;
    position: relative;
    
}

.title {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    width: 7em;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    float: right;
    font-weight: bold;
    font-size: 1.25em;
}

.chicken {
    background: pink;
}

.beef {
    background: red;
    color: white;
}

.sushi {
    background: yellow;
}

p {
    font-weight: bold;
    margin: 2.3em 1em .8em;
    position:relative;
}


@media (min-width: 768px) and (max-width: 991px) {
      .col-md-6 {
        width: 47%;
        margin: 1%;
        float: left;
      }
      .col-md-12 {
        width: 96%;
        margin: 1%;
        float: left;
      }
    
}

@media (min-width: 992px) {
      .col-lg-4 {
        width: 32%;
        margin: .33%;
        float: left;
      }
}